* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

:root {
  --color-one: hsl(0, 0%, 17%);
  --color-two: hsl(0, 0%, 59%);
  --color-three: hsl(0, 0%, 100%);
}

header {
  height: 280px;
  background-image: url("./images/pattern-bg-desktop.png");
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 40px;
  color: var(--color-three);
  font-size: 28px;
  font-weight: 700;
}

.search {
  width: 50%;
  margin-top: 30px;
  display: flex;
}

.search-bar {
  width: 70%;
}

.container {
  width: 100%;
  margin-top: 60px;
  z-index: 1;
}

.ip-details-container {
  display: flex;
  width: 65%;
  height: 150px;
  margin: auto;
  background-color: var(--color-three);
  z-index: 1;
  border-radius: 20px;
}

.ip-address,
.location,
.timezone,
.isp {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.hr {
  border-right: 1px solid var(--color-two);
  margin: 40px 0;
}

.ip-details-key {
  color: var(--color-two);
  font-size: 14px;
  font-weight: 600;
  padding: 35px 0 0 25px;
}

.ip-details-value {
  color: var(--color-one);
  font-size: 18px;
  font-weight: 600;
  padding: 10px 15px 0 25px;
  line-height: 1.3;
}

.leaflet-container {
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

@media screen and (max-width: 768px) {
  header {
    height: 300px;
    background-image: url("./images/pattern-bg-mobile.png");
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    margin-top: 40px;
    color: var(--color-three);
    font-size: 28px;
    font-weight: 700;
  }

  .search {
    width: 100%;
    margin-top: 40px;
  }

  .search-bar {
    width: 90%;
  }

  .ip-details-container {
    display: flex;
    width: 90%;
    height: 260px;
    margin: auto;
    background-color: var(--color-three);
    z-index: 1;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ip-address,
  .location,
  .timezone,
  .isp {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
  }

  .hr {
    display: none;
  }

  .ip-details-key {
    color: var(--color-two);
    font-size: 12px;
    font-weight: 600;
    padding: 0;
  }

  .ip-details-value {
    color: var(--color-one);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3;
    padding: 5px 0 0 0;
  }

  .leaflet-container {
    z-index: 0;
  }
}
